div:not(.child):not(.parent) {
    text-align: center;
}

.parent {
    border: 5px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
}

.child {
    border: 5px solid red;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

td {
    padding: 15px;
}

.pf-enabled {
    background-color: green;
}

.pf-disabled {
    background-color: red;
}

.pf-error {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

input.ng-valid.ng-touched {
    border: none;
}
