<div>
    <h1>Welcome to my-app !</h1>
    <img width="300" alt="AngularJS Logo" src="./content/images/AngularJS-Shield.png">
</div>
<table>
    <tr>
        <td>
            <parent-cmp></parent-cmp>
        </td>
        <td>
            <init-cmp item="My item"></init-cmp>
        </td>
        <td>
            <changes-cmp item="$ctrl.item"></changes-cmp>
            <p>
                <button ng-click="$ctrl.item = $ctrl.item + 1">Update</button>
            </p>
        </td>
        <td>
            <interpolation-cmp></interpolation-cmp>
        </td>
    </tr>
    <tr>
        <td>
            <primitive-cmp></primitive-cmp>
        </td>
        <td>
            <array-cmp></array-cmp>
        </td>
    </tr>
    <tr>
        <td>
            <todo-list></todo-list>
        </td>
        <td>
            <todo-detail></todo-detail>
        </td>
    </tr>
    <tr>
        <td>
            <events-cmp></events-cmp>
        </td>
        <td>
            <bool-cmp></bool-cmp>
        </td>
        <td>
            <styling-cmp></styling-cmp>
        </td>
        <td>
            <structure-cmp></structure-cmp>
        </td>
    </tr>
    <tr>
        <td>
            <model-cmp></model-cmp>
        </td>
    </tr>
</table>